<div style="width: 500px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome" 
            required
            [(ngModel)]="estudante.nome"
            name="nome"
          />
        </div>
  
        <button (click)="createEstudante()" class="btn btn-success">Create</button>
      </div>
  
      <div *ngIf="submitted">
        <h3>You successfully created a estudante!</h3>
        <button class="btn btn-success" (click)="newEstudante()">New..</button>
      </div>
    </div>
  </div>