<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">ProvaTCE</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="estudante" class="nav-link">Estudantes</a>
      </li>
      <li class="nav-item">
        
      </li>
      <li class="nav-item">
        <a routerLink="/professor" class="nav-link">Professores</a>
      </li>
      <li class="nav-item">
        
      </li>
      <li class="nav-item">
        <a routerLink="/turma" class="nav-link">Turma</a>
      </li>
      <li class="nav-item">
        
      </li>
    </div>
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>